* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    width: 100%;
    height: auto;
    background:#f7eedda1;
    /*background: #f5f5f5ed; */
}

main {
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 300;  
}

/*encabezado*/

header {
    width: 100%;
    height: 19%;
    display: flex;   
    align-items: center;  
    gap: 30px;
    padding: 25px;
    justify-content: center;
    line-height: 1.5;
    background:#f2e8d6cd;
}

#logo {
    width: 70px;
    height: 70px;
}

header h2, h4 {
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 300;
    text-align: center;
}

header h1{
    font-family: "Julius Sans One", sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color: #7da4a6;
    text-align: center;
}

/*banner*/

.banner {
    width: 100%;
    height: 50%;
  

}

.flex {
    display: flex;
    margin: 0 25px;
    gap: 45px;
    align-items: center;
    border: 1px solid #3838389d;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 3px #80808044;
    background: #f9f7f7f2;
}
 .foto img {
    width: 45vw;
    height: 463px;
    border-radius: 10px 0 0 10px;

 }

 .lema {
    position: absolute;
    color:ivory;
    font-family: "Julius Sans One", sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    margin: 20px;
    left: 10%;

 }

 .lista{
    
    font-family: "Bai Jamjuree", sans-serif;

    i {
        font-size: 30px;
        color:darkgoldenrod;
      
    }

 }

 
 .lista ul li {
    margin-bottom: 25px;
    align-items: center;
    line-height: 1.5;
 }

 .whatsapp i {
    color: forestgreen;
    font-size: 18px;
 }

 .lista .contacto {
    text-align: center;
    margin-left: 40%;
    margin-top: -8px;
    padding: 10px 15px;
    border-radius: 10px;
    background: #232323;
    border: none;
    box-shadow: 2px 2px 5px 2px #80808087;

    a {
        color:#bd8d13;
        padding: 10px;
    }
   
 }
 form button:hover,
 .lista .contacto:hover {
    transform: scale(1.1);
    border: 2px solid #b88914;
 }

 main h2 {
    margin: 115px 25px 30px 25px;
    font-weight: 400;
 }

 .populares {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 18px;
    margin-left: 10px;
    overflow: scroll;
    height: auto;
  
    
 }

 .populares .cards {
    flex: 1 0 auto;
    width: 215px;
    height: 265px;
    border: 1px solid #595858;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 2px #80808087;
    background: #f9f7f7fe;
    text-align: left;
    margin-bottom: 15px;
   

    img {
        width: 100%;
        height: 170px;
        border-radius: 10px 10px 0 0;
    }

    h4 {
        text-align: left;
        padding-left: 3px;
        font-weight: 500;
        color: #232323;
    }

    p {
        padding-left: 3px;
    }
    
    
 }

 .populares button {
    text-align: center;
    width: 95px;
    height: 30px;
    background: #232323;
    border-radius: 6px;
    margin: 6px 55px;

    
    a{
        color:#bd8d13;
    }
 }

.formulario {
    width: calc(100%-60px);
    height: 385px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #2323236c;
    margin: 30px 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 3px #23232321;
    background: #f9f7f7f2;
}

.personalizar {
    width: 50%;
    
  
    i{
        font-size: 20px;
        color:#b88914
        
    }

    img {
        width: 98%;
        height: 383px;
        border-radius: 10px 0 0 10px;
        margin-bottom: -5px;
        
    }

    p{
        color: ivory;
        font-size: 1.3rem;
        position: absolute;
        background: #37aeee;
        padding: 5px 9px;
    }
}

.personalizar #pie {
    margin-top: -70px;
    margin-left: 355px;
    
}

.personalizar  #disponibilidad {
    margin-top: -365px;
    margin-left: 140px;

}

form {
    width: 50%;
    padding-left: 12%;
    
}

form input {
    display: block;
    margin: 13px 0;
    width: 70%;
    height: 40px;
    background: transparent;
    border: 1px solid #b88914;
    padding: 3px;
    

}

form textarea {
    width: 70%;
    background: transparent;
    margin: 10px 0;
    border: 2px solid #b88914;
}

form button {
    display: block;
    width: 70%;
    height: 40px;
    border-radius: 10px;
    background: #232323;
    color: #bd8d13;
    margin-top: 10px;
    border: none;

} 







